 body {
            background:#032b2f;
            
        }

      
        .parent {
             display: grid;
             grid-template-columns: 15% 15% 15%;
            
        }

        .child {
          
            border: 3px solid teal;
            padding: 30px;
            font-size: 30px;
            border-radius: 5px;
            color:white;
        }
